.dato-tarjeta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border:2px solid rgba(100, 148, 237, 0.397);
    gap: 20px;
    margin: 10px 0px 10px 0px;
}
.dato-tarjeta div b{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}