<h2>Personas</h2>
<app-tarjeta></app-tarjeta>
<br><br><br>
<!-- Una vez creada las tarjetas eliminar la tabla -->
<div class="row">
    <div class="column">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>City</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let persona of personas'>
                    <td>{{persona.id}}</td>
                    <td>{{persona.user}}</td>
                    <td>{{persona.name}}</td>
                    <td>{{persona.surname}}</td>
                    <td>{{persona.city}}</td>
                    <td>{{persona.active}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
