<h2>Personas</h2>
<!--<ul class="personas">
     Recorremos la lista de personas 
    <li *ngFor='persona de Personas'> 
        <span>{{persona.id}}</span>
        <span>{{persona.user}}</span>
        <span>{{persona.password}}</span>
        <span>{{persona.name}}</span>
        <span>{{persona.surname}}</span>
        <span>{{persona.company_email}}</span>
        <span>{{persona.personal.email}}</span>
        <span>{{persona.city}}</span>
        <span>{{persona.active}}</span>
        <span>{{persona.created_date}}</span>
        <span>{{persona.imagen_url}}</span>
        <span>{{persona.terminated_date}}</span>
    </li>
</ul>-->
<p>persona works!</p>
