*{
    background-color:  white;
    font-family:'Courier New', Courier, monospace;
}
h2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
table{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}
thead tr{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    gap: 2px;
}
thead th{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    background-color: rgba(100, 148, 237, 0.397);
    border:2px solid rgba(100, 148, 237, 0.397);
}