*{
    background-color:  white;
    font-family:'Courier New', Courier, monospace;
}
.menu{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    text-align: left;
    padding: 14px 16px;
}
.menu nav{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    list-style-type: none;
}
.menu nav a{
    display: flex;  
    font-family:'Courier New', Courier, monospace;
    color: rgba(100, 148, 237);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(229, 232, 235);
    border: 2px solid whitesmoke;
}

.navegacion{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgba(181, 202, 241, 0);
    gap: 8px;;
}
.img1{
    width: 30px;
    height: 30px;
    background-color: rgba(181, 202, 241, 0);
}

a{
    background-color: rgba(181, 202, 241, 0);
}

b{
    background-color: rgba(181, 202, 241, 0);
}