*{
    background-color:  white;
    font-family:'Courier New', Courier, monospace;
}

.menuprincipal{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.menu{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    text-align: left;
    padding: 14px 16px;
}
.papelera{
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: right;
    gap: 8px;
}
mat-icon{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: rgba(100, 148, 237, 0.253);
}
.papelera b{
    display: flex;
    justify-content:right;
    flex-direction: row;
    align-items: center;
    color: rgba(100, 148, 237);
    margin-right: 12px;
}
a{
    background-color: rgba(0, 0, 0, 0);
}
.menu nav{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    list-style-type: none;
}
.menu nav a{
    display: flex;  
    font-family:'Courier New', Courier, monospace;
    color: rgba(100, 148, 237);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(229, 232, 235);
    border: 2px solid whitesmoke;
}
