<h2><b>Formulario de personas</b></h2>
<div class="formulario">
    <form  [formGroup]="registerForm">
        <div class="datos">
            <i class="notificacion">Campos obligatorios (*)</i>
            <div class="form-group">
                <label for="user">Usuario <i>*</i></label>
                <input type="text" id="user" class='form-control' formControlName="user">
                <div class="error">
                    <span *ngIf='validacionCampos("user")'>
                        <i>Introduce un usuario de 5 a 12 caracteres</i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Apellido <i>*</i></label>
                <input type="text" id="surname" class='form-control' formControlName="surname">
                <div class="error">
                    <span *ngIf='validacionCampos("surname")'>
                        <i>Introduce un apellido</i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="pass">Contraseña <i>*</i></label>
                <input type="password" id="pass" class='form-control' formControlName="password">
                <div class="error">
                    <span *ngIf='validacionCampos("password")'>
                        <i>Contraseña con al menos 5 caracteres</i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Nombre <i>*</i></label>
                <input type="text" id="name" class='form-control' formControlName="name">
                <div class="error">
                    <span *ngIf='validacionCampos("name")'>
                        <i>Introduce un nombre</i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="compemail">Correo de empresa <i>*</i></label>
                <input type="email" id="compemail" class='form-control' formControlName="company_email">
                <div class="error">
                    <span *ngIf='validacionCampos("company_email")'>
                        <i>Introduce un email</i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="personalemail">Correo personal <i>*</i></label>
                <input type="email" id="personalemail" class='form-control' formControlName="personal_email">
                <div class="error">
                    <span *ngIf='validacionCampos("personal_email")'>
                        <i>Introduce un email</i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="city">Ciudad <i>*</i></label>
                <input type="text" id="city" class='form-control' formControlName="city">
                <div class="error">
                    <span *ngIf='validacionCampos("city")'>
                        <i>Introduce una ciudad</i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="active">Active</label>
                <input type="checkbox" id="active" class='form-control' formControlName="active">
            </div>
            <div class="form-group">
                <label for="created_date">Fecha creación <i>*</i></label>
                <input type="date" id="created_date" class='form-control' formControlName="created_date">
                <div class="error">
                    <span *ngIf='validacionCampos("created_date")'>
                        <i>Debes indicar la fecha de creación</i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="image_url">URL imagen </label>
                <input type="text" id="image" class='form-control' formControlName="imagen_url">
            </div>
            <div class="form-group">
                <label for="termination_date">Fecha finalización </label>
                <input type="date" id="termination_date" class='form-control' formControlName="termination_date">
            </div>
        </div>
        <div class="boxboton">
            <div class="boxcrear">
                <div *ngIf="this.botonPulsado">
                    <button class="submit"  type="button"  (click)="guardar()">Enviar</button>
                </div>
            </div>
            <div class="boxlimpiar">
                <button class="limpia" type="button" (click)="limpiar()">Limpiar</button>
            </div>
        </div>
    </form>
</div>